/* 
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}

h1 {
  color: rgb(63, 0, 0);
  text-align: left;
}

h3 {
  font-size: 30px;
  color: #f6d55c;
}

body {
  background-color: #333;
  color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

nav {
  background-color: black;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f6d55c;
  color: black;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.divcolour{
  background-color: rgb(75, 17, 0);
  color: white;
}
*/

/* 
credit idea to 
https://stackoverflow.com/questions/11363358/is-possible-create-map-html-area-in-percentage
*/
.quinnmap {
  position: relative;
}

.quinnmap a {
  display: block;      
  position: absolute;
}

.quinnimg {
  width: 100%;
  height: auto;
}

a.quinnmap {
  text-decoration: none;
  color: inherit;
  border: 10px;
  border-color: aqua;
  border-style: solid;
  border-radius: 20px;
}

a:hover{
  border:1px solid red;  
  background-color: aquamarine;
  opacity: .5;
 }


/* 
.centreimg { 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.FC {
  color: rgb(104, 76, 0);
  font-weight: bold;
  font-style: oblique;
  font-size: 120%;
  font-family: Helvetica;
  text-align: center;
}

.p1{
  background-color: rgb(122, 2, 32);
  color: gainsboro;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 30px;
  font-style: inherit;
  font-weight: 500;
}

.box1{
  padding: 1px;
  margin: 1px;
  border: 0px black;
  background: blanchedalmond;
}

.smallcaps {
  font-variant: small-caps;
}

.bgimage {
  background-image: url("");
  font-weight: 800;
}

.roundedborder {
  border-radius: 20px;
}

.dottedborder {
  border-style: dotted;
}
'/


/* QUINN STUFF FROM HERE DOWNWARDS
.quinnmap {
  text-decoration: none;
  color: inherit;
  border: 10px;
  border-color: aqua;
  border-style: solid;
  border-radius: 20px;
}


credit idea below to 
https://stackoverflow.com/questions/11363358/is-possible-create-map-html-area-in-percentage 

.quinnimage {
  position: relative;
}

.quinnimage a {
  display: block;      
  position: absolute;
}

.quinnimg {
  width: 100%;
  height: auto;
}
*/